/*#257 2FF*/

h2 {
	padding-bottom: 10px;
}

a {
	color: #2E78DC;
	font-weight: bold;	
}

a:hover {
	color: rgba(255, 255, 255, 0.94);
}

.panel-title {
	color: rgba(255, 255, 255, 0.94);
	font-weight: bold;
}

.panel-heading {
	background-color: #2E78DC !important;
}

nav {
	padding-top: 60px;
}

.jumbotron {
	margin-top: 60px;
	color: rgba(255, 255, 255, 0.94);
	background-color: #2E78DC;
}

.nav-pills {
}

.nav-pills a {
	color: rgba(255, 255, 255, 0.94);
}

.nav-pills li a:hover {
	color: #2E78DC;
	background-color: white;
	border-radius: 0;
}


html, body {
	height: 100%;
}


.container-fluid {
	padding-left: 0;
	height: 100%;
}

.nav {
	margin: 0 auto;
	background-color: #2E78DC;
	height: 100%;
}

.panel:not(.panel-footer) {
	border-bottom-width: 3px;
}

label:not(#remember-me-label) {
	color: rgba(255, 255, 255, 0.94);
	background-color: #2E78DC;
	border-radius: 5px;
	padding: 5px 98% 5px 10px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	margin-bottom: 0;
}

.form-control {
	border-top-right-radius: 0;
	border-top-left-radius: 0;
	border-bottom-width: 3px;
}

#sidenav {
	padding: 0;
}

.rating {
	font-weight: bold;
	padding-top: 5px;
}

.text-muted:not(#timestamp) {
	color: rgba(255, 255, 255, 0.5);
}